// Заголовки, загальні БЕМ блоки та інше...
.phone {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	// .phone_number

	&_number {
		font-weight: 500;
	}

	// .phone_numer

	&_numer {
	}

	// .phone_xxxx

	&_xxxx {
		color: $gold;
	}

	// .phone_show

	&_show {
		color: $gold;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
//========================================================================================================================================================

._title {
	font-size: rem(48);
	font-weight: 500;
	text-transform: uppercase;
	@media (max-width: $xl) {
		font-size: rem(36);
	}
	@media (max-width: $mobile) {
		font-size: rem(28);
	}
}
