// Заголовки, загальні БЕМ блоки та інше...
.phone {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
	// .phone_number

	&_number {
    font-weight: 500;
	}

	// .phone_numer

	&_numer {
	}

	// .phone_xxxx

	&_xxxx {
		color: $gold;
	}

	// .phone_show

	&_show {
		color: $gold;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
	}
}
